@model videogamescr.Models.CATALOGO_JUEGOS

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CATALOGO_JUEGOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOM_JUEGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM_JUEGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLATAFORMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLATAFORMA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRECIO_JUEGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRECIO_JUEGO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
