@model IEnumerable<videogamescr.Models.EMPLEADOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MiLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOM_EMPLEADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO_EMPLEADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PUESTO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOM_EMPLEADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDO_EMPLEADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PUESTO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_EMPLEADO }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_EMPLEADO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_EMPLEADO })
        </td>
    </tr>
}

</table>
