@model IEnumerable<videogamescr.Models.PRODUCTOS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_PRODUCTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PLATAFORMA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_PRODUCTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLATAFORMA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_PRODUCTO }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_PRODUCTO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_PRODUCTO })
        </td>
    </tr>
}

</table>
